{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scheduleddrill</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scheduledDrill.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if scheduledDrill.date %}{{ scheduledDrill.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nameforcontact</th>
                <td>{{ scheduledDrill.nameForContact }}</td>
            </tr>
            <tr>
                <th>Numberforcontact</th>
                <td>{{ scheduledDrill.numberForContact }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ scheduledDrill.coordinates }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('scheduled_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('scheduled_edit', { 'id': scheduledDrill.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
